/*-----------------------------------------------------------------------------
 * @package:    Kwaeri platform
 * @author:     Richard B Winters
 * @copyright:  2015-2018 Massively Modified, Inc.
 * @license:    Apache-2.0
 * @version:    0.1.0
 *
 * ------------------------
 *
 * TOC
 *      Main UI
 *
 *      1. Navigation
 *      2. Views
 *      3. Login
 *      4. Blog
 *      5. Functional
 * ------------------------
**/


$kwaeri-blog-info: $mdc-theme-on-background;
$kwaeri-blog-info-highlight: #888;


/*******************************************************************************
 * 1. NAVIGATION
 ******************************************************************************/

.icon-logo-badge-small-dev {
    background: transparent url(../images/brand-logo/mmod-logo-fin-32.png) no-repeat;
}

.mdc-top-app-bar__title {
    padding-right: 64px;
}

[data-dropdown="useropt"] {
    width: auto !important;
}

.img-circle {
    border-radius: 50%;
}/* Side-Menu Stuffs */
.side-menu_submenu-toggle {
    height: 56px !important;
}

.side-menu_submenu-toggle > i {
    margin-top: -2px;
    margin-left: -24px;
    position: absolute;
}

button.side-menu_submenu-toggle {
    padding: 0px 48px !important;
    padding-left: 56px !important;
    padding-bottom: 1px !important;
}

a.side-menu_submenu-toggle {
    padding: 16px 48px !important;
    padding-left: 56px !important;
}

.submenu_nav > li > div.side-menu-select-item-divider {
    margin-top: -24px;
    width: 75%;
    margin-left: 15%;
    border-bottom-color: rgb(220, 214, 214);
}



/*******************************************************************************
 * 2. VIEW
 ******************************************************************************/

 /* Viewport Covering Styles */

.view-cover {
    position: relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url( 'https://wallpaperbrowse.com/media/images/IMG_556028.jpg' ) center center no-repeat;

    .view-cover_mask {
        width: 100vw;
        height: 100vh;
        background-color: rgba( 255, 255, 255, 0.7 );
    }
}

.view-cover_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.4 );
    border: 1px solid rgba( 0, 0, 0, 0.3 );
    border-radius: 4px;
}

/* Panel Styles */
.panel {
    padding: 40px 40px;
    background: $mdc-theme-surface;
    color: $mdc-theme-on-surface;
    border: 1px solid $mdc-theme-primary;
    border-radius: 3px;
}

.panel-inverse {
    @extend .panel;

    background: $mdc-theme-surface-inverse;
    color: $mdc-theme-on-surface-inverse;


}


/*******************************************************************************
 * 3. Login
 ******************************************************************************/

/* Login View Styles */
.vestibule-login {
    width: 600px;
    height: 400px;

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: inset 0 0 10px white;

    h1,h3 {
        margin-top: 20px;
        margin-bottom: 0;
        color: #fff
    }

    .mdc-form-field {
        width: 100%;

        label.mdc-text-field,
        label.mdc-text-field--with-leading-icon {
            width: 100%;

            [type*="text"],
            [type*="password"] {
               /* padding-left: 15px;*/
                height: 48px;
                background: rgba( 0, 0, 0, 0.2 );
                box-shadow: inset 0 0 10px rgba( 0, 0, 0, 0.2 );
                color: white;
            }

            .mdc-floating-label {
                margin-left: 15px;
                color: white;
            }

            .mdc-text-field__icon {
                top: 12px;
            }
        }
    }

    [type*="submit"] {
        width: 100%;
        height: 48px;
        background: rgba( 0, 0, 0, 0.2 );
        color: #fff;

        &:hover {
            background: rgba( 0, 0, 0, 0.3 );
            box-shadow: rgba( 0, 0, 0, 0.6 );
        }
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        -moz-box-shadow: 0 0 0 100px #fff inset;
        box-shadow: 0 0 0 100px #fff inset;
        /* change the white to any color */
    }
}


/*******************************************************************************
 * 4. BLOG
 ******************************************************************************/
 .featurette-heading > a {
     cursor: pointer;
 }

.blog-title > a {
    cursor: pointer;
}

 .blog-info {
    color: $kwaeri-blog-info-highlight;
    font-size: 90%;
    padding: 10px 0px;

    .nav-action {
        font-size: 110%;
        cursor: pointer;
    }

    .tag {
        padding: 5px 10px;
        background-color: darkcyan;
        color: white;
    }
 }

 .blog-content {
    margin-top: 15px;
 }


/*******************************************************************************
 * 5. FUNCTIONAL
 ******************************************************************************/

 .pull-right {
     float: right;
 }

 .pull-left {
     float: left;
 }

 .\+transparency-mask-light {
     background-color: rgba( 255, 255, 255, 0.6 ) !important;
 }