/*-----------------------------------------------------------------------------
 * @package:    Kwaeri platform
 * @author:     Richard B Winters
 * @copyright:  2015-2018 Massively Modified, Inc.
 * @license:    Apache-2.0
 * @version:    0.1.0
 *
 * ------------------------
 *
 * TOC
 *
 * ------------------------
**/


/******************************************************************************
 *
 * What we're doing is including kwaeri-user-experience into our assets
 * via source, and building it ourselves so that we can modify the theme
 *
\******************************************************************************/


// MDC THEME STUFFS
$mdc-theme-primary: #b0c4de;     // Label Text, Button Text, HIghlights on form fields
$mdc-theme-on-primary: #fdfdfd;  //
$mdc-theme-secondary: #2e2e2e;
$mdc-theme-on-secondary: #b0c4de;
$mdc-theme-surface: #212121;     // Surface of components (i.e. textfields input backgrounds)
$mdc-theme-on-surface: #b0c4de;  // Text color on surfaces (i.e. textfields input color)
$mdc-theme-background: #212121;  // Main background of component objects, such as drawer (left nav object)
$mdc-theme-on-background: #fdfdfd;
$mdc-theme-on-background: #fdfdfd;

$mdc-theme-background-inverse: #fdfdfd;
$mdc-theme-on-background-inverse: #212121;
$mdc-theme-primary-inverse: #b0c4de;
$mdc-theme-on-primary-inverse: #fdfdfd;
$mdc-theme-secondary-inverse: #2e2e2e;
$mdc-theme-on-secondary-inverse: #b0c4de;
$mdc-theme-surface-inverse: #fdfdfd;
$mdc-theme-on-surface-inverse: #b0c4de;


// 0. Material Design Components from Google
@import "material-components-web/material-components-web";


// 1. Basics, Fonts/colors - scheme values
@import '@kwaeri/user-experience/scss/core/base';


// 2. Typography styles
@import '@kwaeri/user-experience/scss/core/typography';


// 3. Structural styles
@import '@kwaeri/user-experience/scss/core/structure';


// 4. Grid styles
@import '@kwaeri/user-experience/scss/core/grid';


// 5. Prototyping styles
@import '@kwaeri/user-experience/scss/core/prototyping';


// 6. Component styles
@import '@kwaeri/user-experience/scss/core/components';


// 7. Customization stuffs
@import '@kwaeri/user-experience/scss/core/customize';


// 8. Application includes
@import 'core-platform/main-ui';